body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background-light, .background-dark {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.background-light {
  background-color: papayawhip;
}

.background-dark {
  background-color: palevioletred;
}

.title-light, .title-dark {
  font-family: sans-serif;
}

.title-light {
  color: palevioletred;
}

.title-dark {
  color: papayawhip;
}
